.diary-container {
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  .diary-wrapper {
    height: 600px;
    #diary {
      width: 100%;
      height: 100%;
      margin-top: 1em;
    }
  }
  a {
    text-decoration: none;
    color: grey;
    &::before { color: pink; }
    &:hover {
      &::before { color: red; }
    }
  }
}
