.diary-container {
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  .diary-wrapper {
    height: 600px;
    #diary {
      width: 100%;
      height: 100%;
      margin-top: 10px;
    }
  }
  a {
    text-decoration: none;
    color: grey;
    padding-left: 2em;
    &::before { color: pink; }
    &:hover {
      &::before { color: red; }
    }
    &.li-post {
      padding-left: 0;
    }
  }
  span.post-date {
    color: #b5d7d8;
    font-style: italic;
  }
}

.menu.close {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.close_btn {
  color: cornflowerblue;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: -5px;
}


