%link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic", :rel => "stylesheet"}/
%meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}